In [42]:
from IPython.display import Image
from IPython.core.display import HTML 
Image(url= "https://logowik.com/content/uploads/images/kahramanmaras-sutcu-imam-universitesi5139.jpg", width=400, height=400)

  
  
  # KSÜ BİLGİSAYAR MÜHENDİSLİĞİ
 # 2024-2025 GÜZ DÖNEMİ
# MAKİNE ÖĞRENMESİ PROJESİ
**------------------------------------------------------------------------------------------------**

## İÇİNDEKİLER

### 1- Konu Seçimi ve Uygun Veri Setinin Temini

### 2- Veri Keşfi 
**1.1-kaggle.com**

### 3- Hazırlık
**3.1-Veri ön işleme**

### 4- Veri Görselleştirme ve Yorumlama

### 5- Modelleme
**5.1- doldurulacak **

**5.1.1- doldurulacak**

### 6-  Algoritma -1
**6.1- Sonuç ve Yorum**

### 7- Algoritma -2
**7.1- Sonuç ve yorum**

### 8- Özet
**8.1- Sonuç ve yorum**

### 9- Kaynakça

  
  
  
-

## 1- Konu Seçimi ve Uygun Veri Setinin Temin Edilmesi

Konu özeti buraya yazılacak.

----

**Aşağıdaki kütüphaneleri kullanacağız:**

**Numpy:** Sayısal hesaplama kütüphanesi.

**Pandas:** Veri işleme ve analiz kütüphanesi.

**Matplotlib:** Veri görselleştirme kütüphanesi.

**Seaborn:** İstatistiksel veri görselleştirme kütüphanesi.

**Scipy:** Bilimsel hesaplama için kapsamlı sayısal algoritma ve araç kütüphanesi.

**Datetime:** Tarih ve zaman işlemleri kütüphanesi.

In [43]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
from datetime import datetime

## 2- VERİ KEŞFİ 

Veri setinin küçük bir tanıtımı yazılacak.

In [44]:
df = pd.read_csv('global_data.csv')

In [45]:
df

,Entity,Year,Access to electricity (% of population),Access to clean fuels for cooking,Renewable-electricity-generating-capacity-per-capita,Financial flows to developing countries (US $),Renewable energy share in the total final energy consumption (%),Electricity from fossil fuels (TWh),Electricity from nuclear (TWh),Electricity from renewables (TWh),...,Primary energy consumption per capita (kWh/person),Energy intensity level of primary energy (MJ/$2017 PPP GDP),Value_co2_emissions_kt_by_country,Renewables (% equivalent primary energy),gdp_growth,gdp_per_capita,Density\n(P/Km2),Land Area(Km2),Latitude,Longitude
0,Afghanistan,2000,1.613591,6.2,9.22,20000.0,44.99,0.16,0.0,0.31,...,302.59482,1.64,760.000000,NaN,NaN,NaN,60,652230.0,33.939110,67.709953
1,Afghanistan,2001,4.074574,7.2,8.86,130000.0,45.60,0.09,0.0,0.50,...,236.89185,1.74,730.000000,NaN,NaN,NaN,60,652230.0,33.939110,67.709953
2,Afghanistan,2002,9.409158,8.2,8.47,3950000.0,37.83,0.13,0.0,0.56,...,210.86215,1.40,1029.999971,NaN,NaN,179.426579,60,652230.0,33.939110,67.709953
3,Afghanistan,2003,14.738506,9.5,8.09,25970000.0,36.66,0.31,0.0,0.63,...,229.96822,1.40,1220.000029,NaN,8.832278,190.683814,60,652230.0,33.939110,67.709953
4,Afghanistan,2004,20.064968,10.9,7.75,NaN,44.24,0.33,0.0,0.56,...,204.23125,1.20,1029.999971,NaN,1.414118,211.382074,60,652230.0,33.939110,67.709953
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3644,Zimbabwe,2016,42.561730,29.8,62.88,30000.0,81.90,3.50,0.0,3.32,...,3227.68020,10.00,11020.000460,NaN,0.755869,1464.588957,38,390757.0,-19.015438,29.154857
3645,Zimbabwe,2017,44.178635,29.8,62.33,5570000.0,82.46,3.05,0.0,4.30,...,3068.01150,9.51,10340.000150,NaN,4.709492,1235.189032,38,390757.0,-19.015438,29.154857
3646,Zimbabwe,2018,45.572647,29.9,82.53,10000.0,80.23,3.73,0.0,5.46,...,3441.98580,9.83,12380.000110,NaN,4.824211,1254.642265,38,390757.0,-19.015438,29.154857
3647,Zimbabwe,2019,46.781475,30.1,81.40,250000.0,81.50,3.66,0.0,4.58,...,3003.65530,10.47,11760.000230,NaN,-6.144236,1316.740657,38,390757.0,-19.015438,29.154857
3648,Zimbabwe,2020,52.747670,30.4,80.61,30000.0,81.90,3.40,0.0,4.19,...,2680.13180,10.00,NaN,NaN,-6.248748,1214.509820,38,390757.0,-19.015438,29.154857

In [46]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3649 entries, 0 to 3648
Data columns (total 21 columns):
 #   Column                                                            Non-Null Count  Dtype
---  ------                                                            --------------  -----
 0   Entity                                                            3649 non-null   object
 1   Year                                                              3649 non-null   int64
 2   Access to electricity (% of population)                           3639 non-null   float64
 3   Access to clean fuels for cooking                                 3480 non-null   float64
 4   Renewable-electricity-generating-capacity-per-capita              2718 non-null   float64
 5   Financial flows to developing countries (US $)                    1560 non-null   float64
 6   Renewable energy share in the total final energy consumption (%)  3455 non-null   float64
 7   Electricity from fossil fuels (TWh)                               3628 non-null   float64
 8   Electricity from nuclear (TWh)                                    3523 non-null   float64
 9   Electricity from renewables (TWh)                                 3628 non-null   float64
 10  Low-carbon electricity (% electricity)                            3607 non-null   float64
 11  Primary energy consumption per capita (kWh/person)                3649 non-null   float64
 12  Energy intensity level of primary energy (MJ/$2017 PPP GDP)       3442 non-null   float64
 13  Value_co2_emissions_kt_by_country                                 3221 non-null   float64
 14  Renewables (% equivalent primary energy)                          1512 non-null   float64
 15  gdp_growth                                                        3332 non-null   float64
 16  gdp_per_capita                                                    3367 non-null   float64
 17  Density\n(P/Km2)                                                  3648 non-null   object
 18  Land Area(Km2)                                                    3648 non-null   float64
 19  Latitude                                                          3648 non-null   float64
 20  Longitude                                                         3648 non-null   float64
dtypes: float64(18), int64(1), object(2)
memory usage: 598.8+ KB

-

## 3- HAZIRLIK 
### 3.1-Veri Ön İşleme

Özniteliklerin daha anlaşılabilir olması için **Türkçe** hale getirilmesi.

In [47]:
# Mevcut sütun isimlerini yeni isimlerle değiştirme
df.columns = [
    "Ulke",  # Entity
    "Yil",  # Year
    "Elektrik_Erisim_%",  # Access to electricity (% of population)
    "Temiz_Yakit_Erisim",  # Access to clean fuels for cooking
    "Yenilenebilir_Kapasite_KisiBasi",  # Renewable-electricity-generating-capacity-per-capita
    "Gelismis_Ulkeler_Finansal_Akisi",  # Financial flows to developing countries (US $)
    "Yenilenebilir_Enerji_Orani",  # Renewable energy share in the total final energy consumption (%)
    "Fosil_Yakit_Elektrik_TWh",  # Electricity from fossil fuels (TWh)
    "Nukleer_Elektrik_TWh",  # Electricity from nuclear (TWh)
    "Yenilenebilir_Elektrik_TWh",  # Electricity from renewables (TWh)
    "Dusuk_Karbon_Elektrik_%",  # Low-carbon electricity (% electricity)
    "KisiBasi_Enerji_Tuketimi",  # Primary energy consumption per capita (kWh/person)
    "Enerji_Yoğunluğu",  # Energy intensity level of primary energy (MJ/$2017 PPP GDP)
    "CO2_Emisyonu_kt",  # Value_co2_emissions_kt_by_country
    "Yenilenebilir_Enerji_%",  # Renewables (% equivalent primary energy)
    "Gdp_Buyume",  # gdp_growth
    "Gdp_KisiBasi",  # gdp_per_capita
    "Nufus_Yogunlugu",  # Density\n(P/Km2)
    "Yuzolcumu_Km2",  # Land Area(Km2)
    "Enlem",  # Latitude
    "Boylam"  # Longitude
]

# Yeni sütun isimlerini kontrol edelim
df.head()

,Ulke,Yil,Elektrik_Erisim_%,Temiz_Yakit_Erisim,Yenilenebilir_Kapasite_KisiBasi,Gelismis_Ulkeler_Finansal_Akisi,Yenilenebilir_Enerji_Orani,Fosil_Yakit_Elektrik_TWh,Nukleer_Elektrik_TWh,Yenilenebilir_Elektrik_TWh,...,KisiBasi_Enerji_Tuketimi,Enerji_Yoğunluğu,CO2_Emisyonu_kt,Yenilenebilir_Enerji_%,Gdp_Buyume,Gdp_KisiBasi,Nufus_Yogunlugu,Yuzolcumu_Km2,Enlem,Boylam
0,Afghanistan,2000,1.613591,6.2,9.22,20000.0,44.99,0.16,0.0,0.31,...,302.59482,1.64,760.000000,NaN,NaN,NaN,60,652230.0,33.93911,67.709953
1,Afghanistan,2001,4.074574,7.2,8.86,130000.0,45.60,0.09,0.0,0.50,...,236.89185,1.74,730.000000,NaN,NaN,NaN,60,652230.0,33.93911,67.709953
2,Afghanistan,2002,9.409158,8.2,8.47,3950000.0,37.83,0.13,0.0,0.56,...,210.86215,1.40,1029.999971,NaN,NaN,179.426579,60,652230.0,33.93911,67.709953
3,Afghanistan,2003,14.738506,9.5,8.09,25970000.0,36.66,0.31,0.0,0.63,...,229.96822,1.40,1220.000029,NaN,8.832278,190.683814,60,652230.0,33.93911,67.709953
4,Afghanistan,2004,20.064968,10.9,7.75,NaN,44.24,0.33,0.0,0.56,...,204.23125,1.20,1029.999971,NaN,1.414118,211.382074,60,652230.0,33.93911,67.709953

NULL değere sahip veri miktarının belirlenmesi.

In [37]:
df.isnull().sum()  # Eksik veri sayısını kontrol etmek için

Ulke                                  0
Yil                                   0
Elektrik_Erisim_%                    10
Temiz_Yakit_Erisim                  169
Yenilenebilir_Kapasite_KisiBasi     931
Gelismis_Ulkeler_Finansal_Akisi    2089
Yenilenebilir_Enerji_Orani          194
Fosil_Yakit_Elektrik_TWh             21
Nukleer_Elektrik_TWh                126
Yenilenebilir_Elektrik_TWh           21
Dusuk_Karbon_Elektrik_%              42
KisiBasi_Enerji_Tuketimi              0
Enerji_Yoğunluğu                    207
CO2_Emisyonu_kt                     428
Yenilenebilir_Enerji_%             2137
Gdp_Buyume                          317
Gdp_KisiBasi                        282
Nufus_Yogunlugu                       1
Yuzolcumu_Km2                         1
Enlem                                 1
Boylam                                1
dtype: int64

In [38]:
# En çok eksik veriye sahip iki sütunun çıkartılması
df.drop(['Gelismis_Ulkeler_Finansal_Akisi', 'Yenilenebilir_Enerji_%'], axis=1, inplace=True)

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3649 entries, 0 to 3648
Data columns (total 19 columns):
 #   Column                           Non-Null Count  Dtype
---  ------                           --------------  -----
 0   Ulke                             3649 non-null   object
 1   Yil                              3649 non-null   int64
 2   Elektrik_Erisim_%                3639 non-null   float64
 3   Temiz_Yakit_Erisim               3480 non-null   float64
 4   Yenilenebilir_Kapasite_KisiBasi  2718 non-null   float64
 5   Yenilenebilir_Enerji_Orani       3455 non-null   float64
 6   Fosil_Yakit_Elektrik_TWh         3628 non-null   float64
 7   Nukleer_Elektrik_TWh             3523 non-null   float64
 8   Yenilenebilir_Elektrik_TWh       3628 non-null   float64
 9   Dusuk_Karbon_Elektrik_%          3607 non-null   float64
 10  KisiBasi_Enerji_Tuketimi         3649 non-null   float64
 11  Enerji_Yoğunluğu                 3442 non-null   float64
 12  CO2_Emisyonu_kt                  3221 non-null   float64
 13  Gdp_Buyume                       3332 non-null   float64
 14  Gdp_KisiBasi                     3367 non-null   float64
 15  Nufus_Yogunlugu                  3648 non-null   object
 16  Yuzolcumu_Km2                    3648 non-null   float64
 17  Enlem                            3648 non-null   float64
 18  Boylam                           3648 non-null   float64
dtypes: float64(16), int64(1), object(2)
memory usage: 541.8+ KB

In [39]:
df.isnull().sum()  # Eksik veri sayısını kontrol etmek için

Ulke                                 0
Yil                                  0
Elektrik_Erisim_%                   10
Temiz_Yakit_Erisim                 169
Yenilenebilir_Kapasite_KisiBasi    931
Yenilenebilir_Enerji_Orani         194
Fosil_Yakit_Elektrik_TWh            21
Nukleer_Elektrik_TWh               126
Yenilenebilir_Elektrik_TWh          21
Dusuk_Karbon_Elektrik_%             42
KisiBasi_Enerji_Tuketimi             0
Enerji_Yoğunluğu                   207
CO2_Emisyonu_kt                    428
Gdp_Buyume                         317
Gdp_KisiBasi                       282
Nufus_Yogunlugu                      1
Yuzolcumu_Km2                        1
Enlem                                1
Boylam                               1
dtype: int64

In [51]:
# Nufus_Yogunlugu sütununu temizle
df['Nufus_Yogunlugu'] = df['Nufus_Yogunlugu'].str.replace(',', '')  # Virgülleri kaldır
df['Nufus_Yogunlugu'] = df['Nufus_Yogunlugu'].str.strip()  # Boşlukları kaldır

# Sütunu sayısal değerlere dönüştür
df['Nufus_Yogunlugu'] = pd.to_numeric(df['Nufus_Yogunlugu'], errors='coerce')  # Hatalı verileri NaN yap

# Son durumu kontrol et
print(df['Nufus_Yogunlugu'].dtypes)  # Sütun türünü kontrol et
df.info()  # İlk birkaç satırı kontrol et

float64
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3649 entries, 0 to 3648
Data columns (total 21 columns):
 #   Column                           Non-Null Count  Dtype
---  ------                           --------------  -----
 0   Ulke                             3649 non-null   object
 1   Yil                              3649 non-null   int64
 2   Elektrik_Erisim_%                3649 non-null   float64
 3   Temiz_Yakit_Erisim               3649 non-null   float64
 4   Yenilenebilir_Kapasite_KisiBasi  3649 non-null   float64
 5   Gelismis_Ulkeler_Finansal_Akisi  3649 non-null   float64
 6   Yenilenebilir_Enerji_Orani       3649 non-null   float64
 7   Fosil_Yakit_Elektrik_TWh         3649 non-null   float64
 8   Nukleer_Elektrik_TWh             3649 non-null   float64
 9   Yenilenebilir_Elektrik_TWh       3649 non-null   float64
 10  Dusuk_Karbon_Elektrik_%          3649 non-null   float64
 11  KisiBasi_Enerji_Tuketimi         3649 non-null   float64
 12  Enerji_Yoğunluğu                 3649 non-null   float64
 13  CO2_Emisyonu_kt                  3649 non-null   float64
 14  Yenilenebilir_Enerji_%           3649 non-null   float64
 15  Gdp_Buyume                       3649 non-null   float64
 16  Gdp_KisiBasi                     3649 non-null   float64
 17  Nufus_Yogunlugu                  3648 non-null   float64
 18  Yuzolcumu_Km2                    3649 non-null   float64
 19  Enlem                            3649 non-null   float64
 20  Boylam                           3649 non-null   float64
dtypes: float64(19), int64(1), object(1)
memory usage: 598.8+ KB

In [52]:
# Sadece sayısal sütunların seçilmesi
numeric_columns = df.select_dtypes(include=['float64', 'int64']).columns

# Sadece sayısal sütunlardaki eksik değerleri sütunun ortalaması ile doldurulması
df[numeric_columns] = df[numeric_columns].fillna(df[numeric_columns].mean())

In [55]:
df.isnull().sum()  # Eksik veri sayısını kontrol etmek için

Ulke                               0
Yil                                0
Elektrik_Erisim_%                  0
Temiz_Yakit_Erisim                 0
Yenilenebilir_Kapasite_KisiBasi    0
Gelismis_Ulkeler_Finansal_Akisi    0
Yenilenebilir_Enerji_Orani         0
Fosil_Yakit_Elektrik_TWh           0
Nukleer_Elektrik_TWh               0
Yenilenebilir_Elektrik_TWh         0
Dusuk_Karbon_Elektrik_%            0
KisiBasi_Enerji_Tuketimi           0
Enerji_Yoğunluğu                   0
CO2_Emisyonu_kt                    0
Yenilenebilir_Enerji_%             0
Gdp_Buyume                         0
Gdp_KisiBasi                       0
Nufus_Yogunlugu                    0
Yuzolcumu_Km2                      0
Enlem                              0
Boylam                             0
dtype: int64

In [56]:
# 'Ulke' sütunundaki benzersiz ülke isimlerini ve sayısını kontrol et
unique_countries = df['Ulke'].unique()
num_unique_countries = len(unique_countries)

unique_countries, num_unique_countries

(array(['Afghanistan', 'Albania', 'Algeria', 'Angola',
        'Antigua and Barbuda', 'Argentina', 'Armenia', 'Aruba',
        'Australia', 'Austria', 'Azerbaijan', 'Bahamas', 'Bahrain',
        'Bangladesh', 'Barbados', 'Belarus', 'Belgium', 'Belize', 'Benin',
        'Bermuda', 'Bhutan', 'Bosnia and Herzegovina', 'Botswana',
        'Brazil', 'Bulgaria', 'Burkina Faso', 'Burundi', 'Cambodia',
        'Cameroon', 'Canada', 'Cayman Islands', 'Central African Republic',
        'Chad', 'Chile', 'China', 'Colombia', 'Comoros', 'Congo',
        'Costa Rica', 'Croatia', 'Cuba', 'Cyprus', 'Czechia', 'Denmark',
        'Djibouti', 'Dominica', 'Dominican Republic', 'Ecuador', 'Egypt',
        'El Salvador', 'Equatorial Guinea', 'Eritrea', 'Estonia',
        'Eswatini', 'Ethiopia', 'Fiji', 'Finland', 'France',
        'French Guiana', 'Gabon', 'Gambia', 'Georgia', 'Germany', 'Ghana',
        'Greece', 'Grenada', 'Guatemala', 'Guinea', 'Guinea-Bissau',
        'Guyana', 'Haiti', 'Honduras', 'Hungary', 'Iceland', 'India',
        'Indonesia', 'Iraq', 'Ireland', 'Israel', 'Italy', 'Jamaica',
        'Japan', 'Jordan', 'Kazakhstan', 'Kenya', 'Kiribati', 'Kuwait',
        'Kyrgyzstan', 'Latvia', 'Lebanon', 'Lesotho', 'Liberia', 'Libya',
        'Lithuania', 'Luxembourg', 'Madagascar', 'Malawi', 'Malaysia',
        'Maldives', 'Mali', 'Malta', 'Mauritania', 'Mauritius', 'Mexico',
        'Mongolia', 'Montenegro', 'Morocco', 'Mozambique', 'Myanmar',
        'Namibia', 'Nauru', 'Nepal', 'Netherlands', 'New Caledonia',
        'New Zealand', 'Nicaragua', 'Niger', 'Nigeria', 'North Macedonia',
        'Norway', 'Oman', 'Pakistan', 'Panama', 'Papua New Guinea',
        'Paraguay', 'Peru', 'Philippines', 'Poland', 'Portugal',
        'Puerto Rico', 'Qatar', 'Romania', 'Rwanda',
        'Saint Kitts and Nevis', 'Saint Lucia',
        'Saint Vincent and the Grenadines', 'Samoa',
        'Sao Tome and Principe', 'Saudi Arabia', 'Senegal', 'Serbia',
        'Seychelles', 'Sierra Leone', 'Singapore', 'Slovakia', 'Slovenia',
        'Solomon Islands', 'Somalia', 'South Africa', 'South Sudan',
        'Spain', 'Sri Lanka', 'Sudan', 'Suriname', 'Sweden', 'Switzerland',
        'Tajikistan', 'Thailand', 'Togo', 'Tonga', 'Trinidad and Tobago',
        'Tunisia', 'Turkey', 'Turkmenistan', 'Tuvalu', 'Uganda', 'Ukraine',
        'United Arab Emirates', 'United Kingdom', 'United States',
        'Uruguay', 'Uzbekistan', 'Vanuatu', 'Yemen', 'Zambia', 'Zimbabwe'],
       dtype=object),
 176)

## Ülke adları sütunu için işlem gerekiyor...